{# @var filesystem \Mezcalito\FileManagerBundle\Filesystem\Filesystem #}

<div class="fm-c-content" {{ attributes.defaults({'data-action': 'filemanager:refresh@window->live#$render'}) }}>
    <div class="fm-c-back fm-u-hidden@from-md">
        {% if parentFolder is not null %}
            <button type="button" class="fm-c-back__action" data-action="live#emit" data-live-event-param="updateCurrentPath" data-live-path-param="{{ parentFolder }}">
                {% include '@MezcalitoFileManager/icons/back.svg' %}
            </button>
        {% endif %}
        <span class="fm-c-text-s fm-u-fw-500 fm-u-color-neutral-black">
            {% if '/' == currentPath %}{{ 'My files'|trans(domain="FileManagerBundle") }}{% else %}{{ currentPath }}{% endif %}
        </span>
    </div>

    <div class="fm-c-content__actions">
        <twig:Mezcalito:FileManager:Search :storage="storage"/>
        <div class="fm-c-content__buttons fm-u-hidden@until-md">
            <button class="fm-c-button fm-c-text-xs fm-u-fw-500 fm-u-color-neutral-white" data-action="mezcalito--ux-filemanager--filemanager#openModal" data-mezcalito--ux-filemanager--filemanager-action-param="create">
                {% include '@MezcalitoFileManager/icons/create.svg' %}
                {{ 'Create folder'|trans(domain="FileManagerBundle") }}
            </button>

            <button class="fm-c-button fm-c-text-xs fm-u-fw-500 fm-u-color-neutral-white" data-action="mezcalito--ux-filemanager--filemanager#openModal" data-mezcalito--ux-filemanager--filemanager-action-param="upload">
                {% include '@MezcalitoFileManager/icons/upload.svg' %}
                {{ 'Upload files'|trans(domain="FileManagerBundle") }}
            </button>

            <div class="fm-c-custom-select" data-mezcalito--ux-filemanager--filemanager-target="select">
                <div class="fm-c-custom-select__input-wrapper">
                    <div class="fm-c-custom-select__current-wrapper fm-u-color-actions-success-800">
                        <span class="fm-c-custom-select__current fm-c-text-xs fm-u-fw-500">{{ 'Sort by'|trans(domain="FileManagerBundle") }}</span>
                        <span class="fm-c-custom-select__icon">
                            {% include '@MezcalitoFileManager/icons/chevron-up.svg' %}
                        </span>
                    </div>
                </div>

                <div class="fm-c-custom-select__list-wrapper">
                    <ul class="fm-c-custom-select__list">
                        <li class="fm-c-custom-select__item">
                            <button type="button" class="fm-c-text-s fm-u-color-grey-700"
                                    data-action="live#update"
                                    data-model="sort"
                                    data-value="{% if sort == constant('Mezcalito\\FileManagerBundle\\Enum\\Sort::NAME_ASC') %}name-desc{% else %}name-asc{% endif %}"
                            >
                                {{ 'By name'|trans(domain="FileManagerBundle") }}
                                {% if sort == constant('Mezcalito\\FileManagerBundle\\Enum\\Sort::NAME_ASC') %}
                                    {% include '@MezcalitoFileManager/icons/arrow-down.svg' %}
                                {% endif %}
                                {% if sort == constant('Mezcalito\\FileManagerBundle\\Enum\\Sort::NAME_DESC') %}
                                    {% include '@MezcalitoFileManager/icons/arrow-up.svg' %}
                                {% endif %}
                            </button>
                        </li>
                        <li class="fm-c-custom-select__item">
                            <button type="button" class="fm-c-text-s fm-u-color-grey-700"
                                    data-action="live#update"
                                    data-model="sort"
                                    data-value="{% if sort == constant('Mezcalito\\FileManagerBundle\\Enum\\Sort::DATE_ASC') %}date-desc{% else %}date-asc{% endif %}"
                            >
                                {{ 'By date'|trans(domain="FileManagerBundle") }}
                                {% if sort == constant('Mezcalito\\FileManagerBundle\\Enum\\Sort::DATE_ASC') %}
                                    {% include '@MezcalitoFileManager/icons/arrow-down.svg' %}
                                {% endif %}
                                {% if sort == constant('Mezcalito\\FileManagerBundle\\Enum\\Sort::DATE_DESC') %}
                                    {% include '@MezcalitoFileManager/icons/arrow-up.svg' %}
                                {% endif %}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="fm-c-toggle-buttons">
            <button class="fm-c-toggle-buttons__action fm-c-toggle-buttons__action--active fm-u-color-actions-success-800" data-action="mezcalito--ux-filemanager--filemanager#changeDisplayMode" data-mezcalito--ux-filemanager--filemanager-mode-param="list">
                {% include '@MezcalitoFileManager/icons/list.svg' %}
            </button>
            <button class="fm-c-toggle-buttons__action fm-u-color-actions-success-800" data-action="mezcalito--ux-filemanager--filemanager#changeDisplayMode" data-mezcalito--ux-filemanager--filemanager-mode-param="grid">
                {% include '@MezcalitoFileManager/icons/grid.svg' %}
            </button>
        </div>
    </div>

    <div class="fm-c-content__cards" data-mezcalito--ux-filemanager--filemanager-target="list">
        {% for node in content %}
            {% if node.isDir() %}
                <twig:Mezcalito:FileManager:Folder :id="[currentPath, node.id, random()]|join('_')" :storage="storage" :path="node.id" loading="lazy"/>
            {% else %}
                <twig:Mezcalito:FileManager:File :id="[currentPath, node.id, random()]|join('_')" :storage="storage" :path="node.id" loading="lazy"/>
            {% endif %}
        {% endfor %}
    </div>

    <div class="fm-u-hidden@from-md" data-mezcalito--ux-filemanager--filemanager-target="submenu">
        <button class="fm-c-button fm-c-content__sticky-button">
            {% include '@MezcalitoFileManager/icons/plus.svg' %}
            {{ 'New'|trans(domain="FileManagerBundle") }}
        </button>

        <div class="fm-c-submenu">
            <div class="fm-c-submenu__content">
                <ul>
                    <li>
                        <button type="button" class="fm-c-submenu__item fm-c-submenu__button fm-c-text-s fm-u-color-grey-700" data-action="mezcalito--ux-filemanager--filemanager#openModal" data-mezcalito--ux-filemanager--filemanager-action-param="create">
                            {% include '@MezcalitoFileManager/icons/create.svg' %}
                            {{ 'Create folder'|trans(domain="FileManagerBundle") }}
                        </button>
                    </li>
                    <li>
                        <button type="button" class="fm-c-submenu__item fm-c-submenu__button fm-c-text-s fm-u-color-grey-700" data-action="mezcalito--ux-filemanager--filemanager#openModal" data-mezcalito--ux-filemanager--filemanager-action-param="upload">
                            {% include '@MezcalitoFileManager/icons/upload.svg' %}
                            {{ 'Upload files'|trans(domain="FileManagerBundle") }}
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
