{# @var filesystem \Mezcalito\FileManagerBundle\Filesystem\Filesystem #}

<div class="fm-c-file-card" data-mezcalito--ux-filemanager--filemanager-target="card" {{ attributes }}>

    <button class="fm-c-folder-card__link" data-action="live#action" data-live-action-param="selectMedia" data-live-url-param="{{ node.url }}"></button>

    <div class="fm-c-file-card__picture">
        {% if base64Content %}
            <img src="data:image/png;base64, {{ this.base64Content }}" alt="{{ node.filename }}" width="200" height="200"/>
        {% else %}
            {% include '@MezcalitoFileManager/icons/file-placeholder.svg' %}
        {% endif %}
    </div>

    <span class="fm-c-file-card__name fm-c-text-s fm-u-fw-700 fm-u-color-grey-900">{{ node.filename }}</span>

    <div class="fm-c-file-card__infos">
        {% if node.lastModified is not null %}<span class="fm-c-text-xs fm-u-fw-400 fm-u-color-grey-500">{{ node.lastModified|date("m/d/Y") }}</span>{% endif %}
        {% if node.size is not null %}<span class="fm-c-text-xs fm-u-fw-400 fm-u-color-grey-500">{{ _self.human_filesize(node.size) }}</span>{% endif %}
    </div>

    <div class="fm-c-card-actions" data-mezcalito--ux-filemanager--filemanager-target="dropdown">
        <button class="fm-c-card-actions__action">
            {% include '@MezcalitoFileManager/icons/bullet.svg' %}
        </button>
        <div class="fm-c-card-actions__content">
            <button class="fm-c-text-s" type="button" data-action="live#action" data-live-action-param="downloadFile" data-live-id-param="{{ node.id }}">
                {% include '@MezcalitoFileManager/icons/download.svg' %}
                {{ 'Download'|trans(domain="FileManagerBundle") }}
            </button>
            <button class="fm-c-text-s" type="button" data-action="mezcalito--ux-filemanager--filemanager#openModal" data-mezcalito--ux-filemanager--filemanager-action-param="delete-file" data-mezcalito--ux-filemanager--filemanager-value-param="{{ node.id }}">
                {% include '@MezcalitoFileManager/icons/delete.svg' %}
                {{ 'Delete'|trans(domain="FileManagerBundle") }}
            </button>
            <button class="fm-c-text-s" type="button" data-action="mezcalito--ux-filemanager--filemanager#openModal" data-mezcalito--ux-filemanager--filemanager-action-param="rename" data-mezcalito--ux-filemanager--filemanager-value-param="{{ node.id }}">
                {% include '@MezcalitoFileManager/icons/rename.svg' %}
                {{ 'Rename'|trans(domain="FileManagerBundle") }}
            </button>
            <button class="fm-c-text-s" type="button" data-action="mezcalito--ux-filemanager--filemanager#openModal" data-mezcalito--ux-filemanager--filemanager-action-param="move" data-mezcalito--ux-filemanager--filemanager-value-param="{{ node.id }}">
                {% include '@MezcalitoFileManager/icons/move.svg' %}
                {{ 'Move'|trans(domain="FileManagerBundle") }}
            </button>
        </div>
    </div>
</div>

{% macro human_filesize(bytes) %}
    {% apply spaceless %}
        {% set kilobyte = 1000 %}
        {% set megabyte = kilobyte * 1000 %}
        {% set gigabyte = megabyte * 1000 %}
        {% set terabyte = gigabyte * 1000 %}

        {% if bytes < kilobyte %}
            {{ bytes ~ ' B' }}
        {% elseif bytes < megabyte %}
            {{ (bytes / kilobyte)|number_format(0) ~ ' KB' }}
        {% elseif bytes < gigabyte %}
            {{ (bytes / megabyte)|number_format(0) ~ ' MB' }}
        {% elseif bytes < terabyte %}
            {{ (bytes / gigabyte)|number_format(0) ~ ' GB' }}
        {% else %}
            {{ (bytes / terabyte)|number_format(0) ~ ' TB' }}
        {% endif %}
    {% endapply %}
{% endmacro %}

{% macro placeholder(props) %}
    <div class='fm-c-file-card__loading'>
        <span class='fm-c-file-card__bar-loader'></span>
    </div>
{% endmacro %}
