{# @var filesystem \Mezcalito\FileManagerBundle\Filesystem\Filesystem #}

<div class="fm-c-folder-card" data-mezcalito--ux-filemanager--filemanager-target="card" {{ attributes }}>
    <button class="fm-c-folder-card__link" data-action="dblclick->live#emit" data-live-event-param="updateCurrentPath" data-live-path-param="{{ node.path }}"></button>

    <div class="fm-c-folder-card__icon">
        {% include '@MezcalitoFileManager/icons/folder.svg' %}
    </div>

    <span class="fm-c-folder-card__name fm-c-text-s fm-u-fw-700 fm-u-color-grey-900">
        {{ node.filename }}

        {% set childrenNumber = filesystem.listDirectory(node.path)|filter(child => child.isDir())|length %}
        {% if childrenNumber > 0 %}
            <span class="fm-u-fw-400">
                ({{ childrenNumber }})
            </span>
        {% endif %}
    </span>

    <div class="fm-c-file-card__infos">
        <span class="fm-c-folder-card__number fm-c-text-xs fm-u-fw-400 fm-u-color-grey-500">{{ node.lastModified|date("m/d/Y") }}</span>
    </div>

    <div class="fm-c-card-actions" data-mezcalito--ux-filemanager--filemanager-target="dropdown">
        <button class="fm-c-card-actions__action">
            {% include '@MezcalitoFileManager/icons/bullet.svg' %}
        </button>
        <div class="fm-c-card-actions__content">
            <button class="fm-c-text-s" type="button" data-action="mezcalito--ux-filemanager--filemanager#openModal" data-mezcalito--ux-filemanager--filemanager-action-param="delete-folder" data-mezcalito--ux-filemanager--filemanager-value-param="{{ node.id }}">
                {% include '@MezcalitoFileManager/icons/delete.svg' %}
                {{ 'Delete'|trans(domain="FileManagerBundle") }}
            </button>
            <button class="fm-c-text-s" type="button" data-action="mezcalito--ux-filemanager--filemanager#openModal" data-mezcalito--ux-filemanager--filemanager-action-param="rename" data-mezcalito--ux-filemanager--filemanager-value-param="{{ node.id }}">
                {% include '@MezcalitoFileManager/icons/rename.svg' %}
                {{ 'Rename'|trans(domain="FileManagerBundle") }}
            </button>
            <button class="fm-c-text-s" type="button" data-action="mezcalito--ux-filemanager--filemanager#openModal" data-mezcalito--ux-filemanager--filemanager-action-param="move" data-mezcalito--ux-filemanager--filemanager-value-param="{{ node.id }}">
                {% include '@MezcalitoFileManager/icons/move.svg' %}
                {{ 'Move'|trans(domain="FileManagerBundle") }}
            </button>
        </div>
    </div>
</div>

{% macro placeholder(props) %}
    <div class='fm-c-folder-card__loading'>
        <span class='fm-c-folder-card__bar-loader'></span>
    </div>
{% endmacro %}
