{# @var filesystem \Mezcalito\FileManagerBundle\Filesystem\Filesystem #}

<div class="fm-c-search-result" data-mezcalito--ux-filemanager--filemanager-target="searchResult" {{ attributes }}>
    {% set directory_path = node.path %}
    {% set parent_dir = node.path|replace({(node.filename): ''}) %}

    <button class="fm-c-folder-card__link" data-action="live#emit" data-live-event-param="goToFolder" data-live-path-param="{{ node.isFile ? parent_dir : directory_path }}" data-fm-enter-action></button>

    <div class="fm-c-search-result__picture">
        {% if node.isDir %}
            {% include '@MezcalitoFileManager/icons/folder.svg' %}
        {% else %}
            {% include '@MezcalitoFileManager/icons/file-placeholder.svg' %}
        {% endif %}
    </div>

    <span class="fm-c-file-card__name fm-c-text-s fm-u-fw-700 fm-u-color-grey-900">{{ node.filename }}</span>

    <div class="fm-c-file-card__infos">
        <span class="fm-c-text-xs fm-u-fw-400 fm-u-color-grey-500">{{ parent_dir ? parent_dir : '/' }}</span>
        {% if node.size is not null %}<span class="fm-c-text-xs fm-u-fw-400 fm-u-color-grey-500">{{ _self.human_filesize(node.size) }}</span>{% endif %}
    </div>

</div>

{% macro human_filesize(bytes) %}
    {% apply spaceless %}
        {% set kilobyte = 1000 %}
        {% set megabyte = kilobyte * 1000 %}
        {% set gigabyte = megabyte * 1000 %}
        {% set terabyte = gigabyte * 1000 %}

        {% if bytes < kilobyte %}
            {{ bytes ~ ' B' }}
        {% elseif bytes < megabyte %}
            {{ (bytes / kilobyte)|number_format(0) ~ ' KB' }}
        {% elseif bytes < gigabyte %}
            {{ (bytes / megabyte)|number_format(0) ~ ' MB' }}
        {% elseif bytes < terabyte %}
            {{ (bytes / gigabyte)|number_format(0) ~ ' GB' }}
        {% else %}
            {{ (bytes / terabyte)|number_format(0) ~ ' TB' }}
        {% endif %}
    {% endapply %}
{% endmacro %}

{#{% macro placeholder(props) %}#}
{#    <div class='fm-c-file-card__loading'>#}
{#        <span class='fm-c-file-card__bar-loader'></span>#}
{#    </div>#}
{#{% endmacro %}#}
