{# @var filesystem \Mezcalito\FileManagerBundle\Filesystem\Filesystem #}

<aside class="fm-c-sidebar fm-c-file-tree fm-u-hidden@until-md" {{ attributes.defaults({'data-action': 'filemanager:refresh@window->live#$render'}) }}>
    <ul class="fm-c-file-tree__list">
        <li class="fm-c-collapse fm-c-file-tree__item" data-mezcalito--ux-filemanager--filemanager-target="collapse" data-visible="true">
            {% set label = 'My files'|trans(domain="FileManagerBundle") %}
            <div class="fm-c-file-tree__item-header fm-c-collapse__head fm-c-collapse__head--first{% if currentPath == '/' %} fm-c-collapse__head--active{% endif %}">
                <button class="fm-c-collapse__arrow" type="button">
                    {% include '@MezcalitoFileManager/icons/chevron-right.svg' %}
                </button>
                <button data-action="live#emit" data-live-event-param="updateCurrentPath" data-live-path-param="/" class="fm-c-collapse__action fm-c-text-xs fm-u-fw-700{% if currentPath == '/' %} is-active{% endif %}" title="{{ label }}">
                    {% include '@MezcalitoFileManager/icons/folder.svg' %}
                    <span>{{ label }}</span>
                </button>
            </div>
            <div class="fm-c-collapse__wrapper">
                <ul class="fm-c-file-tree__list fm-c-collapse__content">
                    {% for node in nodes %}
                        {{ _self.folder(filesystem, currentPath, node) }}
                    {% endfor %}
                </ul>
            </div>
        </li>
    </ul>
</aside>

{% macro folder(filesystem, currentPath, node) %}
    {% set hasChild = filesystem.listDirectory(node.path)|filter(child => child.isDir())|length > 0 %}
    {% set label = node.id | split('/') | last %}
    <li class="fm-c-file-tree__item fm-c-collapse{% if hasChild %} fm-c-collapse__openable{% endif %}" {% if hasChild %}data-mezcalito--ux-filemanager--filemanager-target="collapse"{% endif %}>
        <div class="fm-c-file-tree__item-header fm-c-collapse__head{% if currentPath == node.path %} fm-c-collapse__head--active{% endif %}">
            {% if hasChild %}
                <button class="fm-c-collapse__arrow" type="button">
                    {% include '@MezcalitoFileManager/icons/chevron-right.svg' %}
                </button>
            {% endif %}
            <button data-action="live#emit" data-live-event-param="updateCurrentPath" data-live-path-param="{{ node.path }}" class="fm-c-collapse__action fm-c-text-xs fm-u-fw-700{% if currentPath == node.path %} is-active{% endif %}" title="{{ label }}">
                {% include '@MezcalitoFileManager/icons/folder.svg' %}
                <span>{{ label }}</span>
            </button>
        </div>
        {% if hasChild %}
            <div class="fm-c-collapse__wrapper">
                <ul class="fm-c-file-tree__list fm-c-collapse__content">
                    {% for child in filesystem.listDirectory(node.path)|filter(node => node.isDir()) %}
                        {{ _self.folder(filesystem, currentPath, child) }}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </li>
{% endmacro %}

{% macro placeholder(props) %}
    <div class='fm-c-sidebar__loading'>
        <span class='fm-c-sidebar__bar-loader'></span>
        <span class='fm-c-sidebar__bar-loader'></span>
        <span class='fm-c-sidebar__bar-loader'></span>
        <span class='fm-c-sidebar__bar-loader'></span>
    </div>
{% endmacro %}
