{# @var filesystem \Mezcalito\FileManagerBundle\Filesystem\Filesystem #}

<div {{ attributes.defaults({class: 'c-file-card'}) }}>
    <input class='c-file-card__input' type='checkbox' name='test' id='test' />

    {% if this.node.isDir() %}
        <button class='c-file-card__link' data-action="dblclick->live#emit" data-live-event-param="updateCurrentPath" data-live-path-param="{{ this.node.path }}"></button>
    {% endif %}

    <div class='c-file-card__active-icon'>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
            <path d="M16.1627 5.8756C16.0148 5.71142 15.8078 5.6127 15.5871 5.60113C15.3665 5.58957 15.1502 5.66611 14.986 5.81393L7.24021 12.7848L3.63269 9.17726C3.55581 9.09766 3.46385 9.03418 3.36221 8.9905C3.26052 8.94686 3.15117 8.92386 3.04052 8.9229C2.92987 8.92194 2.82014 8.94302 2.71773 8.9849C2.61531 9.02682 2.52227 9.0887 2.44403 9.16694C2.36578 9.24518 2.30391 9.33822 2.26201 9.44062C2.2201 9.54306 2.19902 9.65278 2.19998 9.76342C2.20094 9.8741 2.22393 9.98342 2.26761 10.0851C2.31128 10.1868 2.37476 10.2787 2.45435 10.3556L6.62101 14.5223C6.77197 14.6731 6.97505 14.7604 7.18837 14.7659C7.40173 14.7715 7.60909 14.6951 7.76769 14.5523L16.101 7.05226C16.2652 6.90438 16.3639 6.69734 16.3755 6.4767C16.387 6.25605 16.3105 6.03983 16.1627 5.8756Z" fill="black"/>
        </svg>
    </div>

    <div class='c-file-card__picture'>
        <img src="data:image/png;base64, {{ this.base64Content }}" alt="{{ this.node.filename }}" width='200' height='200'/>
    </div>

    <p class='c-file-card__name c-text-s u-fw-700 u-color-grey-900'>{{ this.node.filename }}</p>

    <div class='c-file-card__infos'>
        {% if this.node.lastModified is not null %}<p class='c-text-xs u-fw-400 u-color-grey-500'>{{ this.node.lastModified|date("m/d/Y") }}</p>{% endif %}
        {% if this.node.size is not null %}<p class="c-text-xs u-fw-400 u-color-grey-500">{{ _self.human_filesize(this.node.size) }}</p>{% endif %}
{#        <p class='c-text-xs u-fw-400 u-color-grey-500'>1300 x 600</p>#}
    </div>

    <button class='c-file-card__action'>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.25 12.8C10.25 11.8335 11.0335 11.05 12 11.05C12.9665 11.05 13.75 11.8335 13.75 12.8C13.75 13.7665 12.9665 14.55 12 14.55C11.0335 14.55 10.25 13.7665 10.25 12.8Z" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.25 19.8001C10.25 18.8336 11.0335 18.0501 12 18.0501C12.9665 18.0501 13.75 18.8336 13.75 19.8001C13.75 20.7666 12.9665 21.5501 12 21.5501C11.0335 21.5501 10.25 20.7666 10.25 19.8001Z" fill="black"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.25 5.80014C10.25 4.83364 11.0335 4.05014 12 4.05014C12.9665 4.05014 13.75 4.83364 13.75 5.80014C13.75 6.76664 12.9665 7.55014 12 7.55014C11.0335 7.55014 10.25 6.76664 10.25 5.80014Z" fill="black"/>
        </svg>
    </button>
</div>

{% macro human_filesize(bytes) %}
    {% apply spaceless %}
        {% set kilobyte = 1000 %}
        {% set megabyte = kilobyte * 1000 %}
        {% set gigabyte = megabyte * 1000 %}
        {% set terabyte = gigabyte * 1000 %}

        {% if bytes < kilobyte %}
            {{ bytes ~ ' B' }}
        {% elseif bytes < megabyte %}
            {{ (bytes / kilobyte)|number_format(0) ~ ' KB' }}
        {% elseif bytes < gigabyte %}
            {{ (bytes / megabyte)|number_format(0) ~ ' MB' }}
        {% elseif bytes < terabyte %}
            {{ (bytes / gigabyte)|number_format(0) ~ ' GB' }}
        {% else %}
            {{ (bytes / terabyte)|number_format(0) ~ ' TB' }}
        {% endif %}
    {% endapply %}
{% endmacro %}