{# @var filesystem \Mezcalito\FileManagerBundle\Filesystem\Filesystem #}

<aside class="fm-c-sidebar fm-u-hidden@until-md" {{ attributes.defaults({'data-action': 'filemanager:refresh@window->live#$render'}) }}>
    <ul>
        <li class="fm-c-collapse" data-mezcalito--ux-filemanager--filemanager-target="collapse" data-visible="true">
            <div class="fm-c-collapse__head fm-c-collapse__head--first{% if currentPath == '/' %} fm-c-collapse__head--active{% endif %}">
                <button class="fm-c-collapse__arrow" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                        <path d="M5.25 11.3L8.75 7.8L5.25 4.3" stroke="#566071" stroke-width="1.169" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <button data-action="live#emit" data-live-event-param="updateCurrentPath" data-live-path-param="/" class="fm-c-collapse__action fm-c-text-xs fm-u-fw-700{% if currentPath == '/' %} is-active{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                        <path d="M4.16667 4.13334H7.5L10 6.63334H15.8333C16.2754 6.63334 16.6993 6.80893 17.0118 7.12149C17.3244 7.43405 17.5 7.85798 17.5 8.30001V14.9667C17.5 15.4087 17.3244 15.8326 17.0118 16.1452C16.6993 16.4577 16.2754 16.6333 15.8333 16.6333H4.16667C3.72464 16.6333 3.30072 16.4577 2.98816 16.1452C2.67559 15.8326 2.5 15.4087 2.5 14.9667V5.80001C2.5 5.35798 2.67559 4.93405 2.98816 4.62149C3.30072 4.30893 3.72464 4.13334 4.16667 4.13334Z" stroke="#566071" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    My files
                </button>
            </div>
            <div class="fm-c-collapse__wrapper">
                <ul class="fm-c-collapse__content">
                    {% for node in nodes %}
                        {{ _self.folder(filesystem, currentPath, node) }}
                    {% endfor %}
                </ul>
            </div>
        </li>
    </ul>
</aside>

{% macro folder(filesystem, currentPath, node) %}
    {% set hasChild = filesystem.listDirectory(node.path)|filter(child => child.isDir())|length > 0 %}
    <li class="{% if hasChild %}fm-c-collapse fm-c-collapse__openable{% else %}fm-c-collapse{% endif %}" {% if hasChild %}data-mezcalito--ux-filemanager--filemanager-target="collapse"{% endif %}>
        <div class="fm-c-collapse__head{% if currentPath == node.path %} fm-c-collapse__head--active{% endif %}">
            {% if hasChild %}
                <button class="fm-c-collapse__arrow" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
                        <path d="M5.25 11.3L8.75 7.8L5.25 4.3" stroke="#566071" stroke-width="1.169" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            {% endif %}
            <button data-action="live#emit" data-live-event-param="updateCurrentPath" data-live-path-param="{{ node.path }}" class="fm-c-collapse__action fm-c-text-xs fm-u-fw-700{% if currentPath == node.path %} is-active{% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                    <path d="M4.16667 4.13334H7.5L10 6.63334H15.8333C16.2754 6.63334 16.6993 6.80893 17.0118 7.12149C17.3244 7.43405 17.5 7.85798 17.5 8.30001V14.9667C17.5 15.4087 17.3244 15.8326 17.0118 16.1452C16.6993 16.4577 16.2754 16.6333 15.8333 16.6333H4.16667C3.72464 16.6333 3.30072 16.4577 2.98816 16.1452C2.67559 15.8326 2.5 15.4087 2.5 14.9667V5.80001C2.5 5.35798 2.67559 4.93405 2.98816 4.62149C3.30072 4.30893 3.72464 4.13334 4.16667 4.13334Z" stroke="#566071" stroke-width="1.67" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                {{ node.id | split('/') | last }}
            </button>
        </div>
        {% if hasChild %}
            <div class="fm-c-collapse__wrapper">
                <ul class="fm-c-collapse__content">
                    {% for child in filesystem.listDirectory(node.path)|filter(node => node.isDir()) %}
                        {{ _self.folder(filesystem, currentPath, child) }}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </li>
{% endmacro %}

{% macro placeholder(props) %}
    Loading... Please wait...
{% endmacro %}
