<ul class="fm-c-file-tree__list">
    <li class="fm-c-collapse fm-c-file-tree__item" data-mezcalito--ux-filemanager--filemanager-target="collapse" data-visible="true">
        {% set label = 'My files'|trans(domain="FileManagerBundle") %}
        <div class="fm-c-file-tree__item-header fm-c-collapse__head fm-c-collapse__head--first">
            <button class="fm-c-collapse__arrow" type="button">
                {% include '@MezcalitoFileManager/icons/chevron-right.svg' %}
            </button>
            <button data-action="live#update" data-model="value" data-value="/" class="fm-c-collapse__action fm-c-text-xs fm-u-fw-700" title="{{ label }}">
                {% include '@MezcalitoFileManager/icons/folder.svg' %}
                <span>{{ label }}</span>
            </button>
        </div>
        <div class="fm-c-collapse__wrapper">
            <ul class="fm-c-file-tree__list fm-c-collapse__content">
                {% for node in filesystem.listDirectory('/')|filter(node => node.isDir()) %}
                    {{ _self.folder(filesystem, oldValue, value, node) }}
                {% endfor %}
            </ul>
        </div>
    </li>
</ul>

{% macro folder(filesystem, oldValue, value, node) %}
    {% set hasChild = filesystem.listDirectory(node.path)|filter(child => child.isDir())|length > 0 %}
    {% set label = node.id | split('/') | last %}
    <li class="fm-c-file-tree__item fm-c-collapse{% if hasChild %} fm-c-collapse__openable{% endif %}" {% if hasChild %}data-mezcalito--ux-filemanager--filemanager-target="collapse"{% endif %}>
        <div class="fm-c-file-tree__item-header fm-c-collapse__head{% if value == node.path %} fm-c-collapse__head--active{% endif %}{% if oldValue == node.path %} fm-c-collapse__head--disabled{% endif %}">
            {% if hasChild %}
                {% include '@MezcalitoFileManager/icons/chevron-right.svg' %}
            {% endif %}
            <button {% if oldValue != node.path %}data-action="live#update" data-model="value" data-value="{{ node.path }}"{% endif%} class="fm-c-collapse__action fm-c-text-xs fm-u-fw-700{% if value == node.path %} is-active{% endif %}" title="{{ label }}">
                {% include '@MezcalitoFileManager/icons/folder.svg' %}
                {{ label }}
                {% if hasChild %}
                    <span class="fm-u-fw-400">({{ filesystem.listDirectory(node.path)|filter(child => child.isDir())|length }})</span>
                {% endif %}
            </button>
        </div>
        {% if hasChild %}
            <div class="fm-c-collapse__wrapper">
                <ul class="fm-c-file-tree__list fm-c-collapse__content">
                    {% for child in filesystem.listDirectory(node.path)|filter(node => node.isDir()) %}
                        {{ _self.folder(filesystem, oldValue, value, child) }}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </li>
{% endmacro %}
